@font-face {
    font-family: 'Minguk-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Minguk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin:0px;
	padding:0px;
}

body {
  	overflow: hidden;
  	overflow-y: hidden;
  	overflow-x: hidden;
 	background: no-repeat url("../background/ch00/0_1.png") center center;
	background-size: cover;
}

video {
  	object-fit: cover;
}

iframe {
	display: none;
}

div {
	width:100%;
	height:100%;
	background: no-repeat url("../background/ch00/0_2.png") center center;
	background-size: cover;
	position: absolute;
}

img {
	position: absolute;
}

#logo {
	left: 0;
	top: 240px;
	z-index: 999;
	display: none;
}

div img:nth-child(1) {
	left: 0;
	bottom: 0;
}

div img:nth-child(2) {
	left: 0;
	top: 590px;
}

div::-webkit-scrollbar {
  display: none;
}

img::-webkit-scrollbar {
  display: none;
}

.fadeEffect {
	-webkit-animation: fadeinout 3s linear infinite;
    animation: fadeinout 3s linear infinite;
}

@-webkit-keyframes fadeinout {
    0%      { opacity: 1; }
    50%     { opacity: 0; }
    100%    { opacity: 1; }
}

@keyframes fadeinout {
    0%      { opacity: 1; }
    50%     { opacity: 0; }
    100%    { opacity: 1; }
}