.select {
	filter: drop-shadow(0px 0px 0.5vw #FFAB00);
}

.pikachu:hover {
	transform: scale(1.1);
	transform-origin: bottom center;
}
.pikachu:active {
	transform: scale(1.0);
}
/*
.pikachu-pre:hover {
	transform: matrix(-1, 0, 0, 1.1, 0, 0);
	transform-origin: bottom center;
}
.pikachu-pre:active {
	transform: matrix(-1, 0, 0, 1.0, 0, 0);
}*/

#background {
	width:100%;
	height:100%;
	background: no-repeat url("../background/ch11/ch11_bg_1.png") center center;
    background-size: 100% 100%;
}
#background > img {
	width:initial;
	height:initial;
	position:absolute;
}

#human {
	transform: scaleX(-1)
}

/*
#arrow_pre {
	transform: matrix(-1, 0, 0, 1.1, 0, 0);
}*/