.select {
	filter: drop-shadow(0px 0px 0.5vw #FFAB00);
}

.pikachu:hover {
	transform: scale(1.1);
	transform-origin: bottom center;
}
.pikachu:active {
	transform: scale(1.0);
}

#background {
	width:100%;
	height:100%;
	background: no-repeat url("../background/ch07/7_2_2.png") center center;
    background-size: 100% 100%;
}
#background > img {
	width:initial;
	height:initial;
	position:absolute;
}

#human {
	transform: scaleX(-1)
}
