@charset "UTF-8";

#interact {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
#interact img {
	position: absolute;
}

.select {
	filter: drop-shadow(0px 0px 0.5vw #FFAB00);
}

.pikachu:hover {
	transform: scale(1.1);
	transform-origin: bottom center;
}
.pikachu:active {
	transform: scale(1.0);
}

/* 배경 */
#interact .background {
	width: 100%;
	height: 100%;
	z-index: 1;
}
#interact .background:nth-of-type(2) {
	top: 71.95%;
	height: 28.05%;
}

/* 배경 오트젝트 */
#interact .balance {
	z-index: 2;
	bottom: 28.05%;
}
#interact .balance:nth-of-type(3) { /*저울 원본*/
	height: 50.64%;
	left: 50%; transform: translate(-50%, 0);
}

/* 캐릭터 */
#interact .character {
	bottom: 27.05%;
	z-index: 3;
}
#interact .character:nth-of-type(4) { /*사자*/
	height: 84%;
	left: -1vh; bottom: 14.7%;
}
#interact .character:nth-of-type(5) { /*아누비스*/
	height: 35.92%;
	left: 50%; transform: translate(-50%, 0);
}
#interact .character:nth-of-type(6) { /*토트*/
	height: 44.81%;
	right: 5%;
}
#interact .character:nth-of-type(7) { /*암무트*/
	height: 27.12%;
	right: 25vh;
}

#interact .bgObj:nth-of-type(8) { /*심장*/
	z-index: 10;
	bottom: 32%; left: 49.5%; transform: scale(0.9) translate(-31vh, 0);
}

#interact .balance:nth-of-type(9) { /*저울 흑백 대체*/
	height: 50.64%;
    left: 50%;
    transform: translate(-50%, 0);
}

#interact .background:nth-of-type(11) { /*붉은 얼룩*/
	height: 120%;
	width: 100%;
	bottom: 100%; 
}

.fade-in {
  animation: fadein 2.0s;
  -webkit-animation: fadein 2.0s; /* Safari and Chrome */
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
  animation: fadeout 1.5s;
  -webkit-animation: fadeout 1.5s; /* Safari and Chrome */
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout { 
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.flow {
  animation: flow 4.0s;
  -webkit-animation: flow 4.0s; /* Safari and Chrome */
  animation-fill-mode: forwards;
}

@-webkit-keyframes flow { 
    from {
        bottom: 100%;
    }
    to {
        bottom: -17%; 
    }
}

#interact .item { /* 재정의 */
	z-index: 10;
	bottom: 32%; left: 49.5%; transform: scale(0.9) translate(-31vh, 0);
}

#interact .spot {
	position: absolute;
	width: 15vh; height: 15vh;
	bottom: 43%; right: 9vh; transform: translate(-33.5vh, 0);
	
	border-radius: 50%;
	background-color: black;
	opacity: 0;
	
	z-index: 5;
}
#interact .circle {
	display: none;
	position: absolute;
	width: 10vh; height: 10vh;
	bottom: 45%; right: 14vh; transform: translate(-31vh, 0);
	
	border-radius: 50%;
	background-color: white;
	opacity: 0.6;
	
	z-index: 5;
}