@font-face {
    font-family: 'Minguk-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Minguk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minguk-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Minguk-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Daehan-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Daehan-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Minguk-Regular';
	font-size: 24px;
	overflow: hidden;
  	overflow-y: hidden;
  	overflow-x: hidden;
  	margin:0;
	padding:0;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2222;
	top: 0;
	left: 0;
	background: black;
}

#blur {
	width: 100%;
	height: 200px;
	background: inherit;
	position: absolute;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	backdrop-filter: blur(2px);
	z-index: 100;
}

#menu {
	position:fixed;
	top:10px;
	right:10px;
	z-index:999;
}

#menu > div {
	display: inline-flex;
	height: 70px;
}
#menu img {
	width: 50px;
	height: 50px;
	margin: 10px;
}
#dialogue {
	position: absolute;
	display: flex;
	width: 100%;
	height: 290px;
	left: 0;
	bottom: 0;
	z-index: 111;
}
#dialogue_bg {
	position: absolute;
	width: 100%;
	height: 290px;
	left: 0;
	bottom: 0;
	z-index: 99;
}
#dialogue_img {
	margin: auto 90px auto 100px;
}
#content span {
	font-family: 'Minguk-Bold';
	color: red;
}
#scene {
	display: inline-flex;
	flex-direction: column;
	width:100%;
	margin: 10px;
}
#choice {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#choice > div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
}
#choice > img {
	margin: 100px 110px 80px 50px;
}
#choice button {
	font-size: 24px;
	background: transparent;
	width: 250px;
	height: 65px;
	margin: 0 50px 3px 0;
	border: none;
	cursor: pointer;
	color: #B59D8E;
	
}
#choice button:hover {
	font-family: 'Minguk-Bold';
	background: url("/resources/UI/Dialogue/answer.png");
	color: #000000;
	width: 288px;
	margin-right: 11px;
	padding-right: 28px;
}

#title, #content {
	display: inline-flex;
	flex-direction: row;
}
#title > div {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
#title > div:nth-child(1) {
	font-family: 'Daehan-Bold';
	font-size: 30px;
	height: 30px;
	padding: 0;
	margin: 55px 20px 10px 0;
}
#title > div:nth-child(2) {
	font-family: 'Minguk-Bold';
	font-size: 20px;
	color: #FBF7F0;
	min-width: 194px;
	margin-top: 54px;
	padding-bottom: 1px;
	height: 29px;
	background: no-repeat url("../UI/Dialogue/name_tag_1.png") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}