@charset "UTF-8";


#interact .character:nth-of-type(4) { 
	opacity: 0;
	animation: 1s disappear;
	height: 48.70%;
}
@keyframes disappear {
	0% { opacity: 1; }
	99% { opacity: 1; }
	100% { opacity: 0; }
}
#interact .character:nth-of-type(5) { 
	height: 48.70%;
	right: 14%;
	animation: 1s appear;
}