@charset "UTF-8";

#interact .character:nth-of-type(2) {
	display: block;
	opacity: 0;
	height: 44.90%;	
	left: -20%;
	animation: 1s walk;
}
@keyframes walk {
	0% {
		left: -20%;
		opacity: 1;
	}
	100% {
		left: 10%;
		opacity: 1;
	}
}

#interact .character:nth-of-type(3) {
	animation: 1s arise;
}
@keyframes arise {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}