@charset "UTF-8";

form {
	animation: 3s dialog;
}
@keyframes dialog {
	0% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}

#interact .character:nth-of-type(2) {
	animation: 2.9s obj;
}
#interact .object{
	height: 12.18%;
	width: auto;

	animation: 2.9s obj;
}

@keyframes obj {
	0% { opacity: 0; }
	100% { opacity: 0; }
}

#interact .motion {
	height: 111.29%;
	
	bottom: -27%;
	left: -2.5%;
	
	bottom: -46%;
	left: -40vh;
	
	opacity: 0;
	z-index: 2;
	animation: 3s walk;
}

@keyframes walk {
	0% { bottom: -10%; left: -100vh; opacity: 1;}
	20% { bottom: -15%; left: -80vh; }
	40% { bottom: -10%; left: -60vh; }
	60% { bottom: -45%; left: -45vh; }
	100% { opacity: 1; }
}
