@charset "UTF-8";
#prev{
	border: none;
	padding: 5;
	background:transparent;
}
#next{
	border: none;
	padding: 5;
	background: transparent;
}
#info_window{
	float:right;
	width: 1040px;
	height:880px;
}
#info_window .infoImg {
	position: relative;
    left: 50px;
    top: 250px;
	background-image:"image/7_1.png";
	background-position: center center;
	background-attachment: scale-down;
	display: block;
	transform: translate(0%, -50%);

}
#info_window .infoText {
	float:right;
	position: relative;
	left: 5px;
    top: 250px;
	width: 485px;
	height: 485px;
	
	transform: translate(0%, -50%);
	
	border: 1px soild blue;
}
#info_window .kind{
	margin-top: 10%;
	background-image:"image/6.png";
	font-size: 2vh;
	text-align: left;
}
#info_window .name{
	font-family: 'Daehan-Regular';
	font-size: 3vh;
	font-weight:bold;
	text-align: center;
}
#info_window .infoText .detail{
	margin-top: 10%;
	
	font-size: 2vh;
	text-align: left;
}
