#interact > img {
	position: absolute;
}

/* 강물 */

@keyframes scroll{
  from {
    transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
  }
  to{
    transform:translateX(0%);
    -webkit-transform:translateX(0%);
  }
}

@keyframes reverse-scroll{
  from {
    transform:translateX(0%);
    -webkit-transform:translateX(0%);
  }
  to{
    transform:translateX(100%);
    -webkit-transform:translateX(100%);
  }
}

/* 망령 비행 */

@keyframes flight1{
  from {
    transform:translateX(180%) translateY(20%);
    -webkit-transform:translateX(180%) translateY(20%);
  }
  to{
    transform:translateX(-260%) translateY(-20%);
    -webkit-transform:translateX(-260%) translateY(-20%);
  }
}

@keyframes flight2{
  from {
    transform:translateX(240%) translateY(30%);
    -webkit-transform:translateX(240%) translateY(30%);
  }
  to{
    transform:translateX(-200%) translateY(-10%);
    -webkit-transform:translateX(-200%) translateY(-10%);
  }
}

@keyframes flight3{
  from {
    transform:translateX(320%) translateY(40%);
    -webkit-transform:translateX(320%) translateY(40%);
  }
  to{
    transform:translateX(-120%) translateY(0%);
    -webkit-transform:translateX(-120%) translateY(0%);
  }
}

#spirit1 {
	animation: flight2 40s linear infinite;
}

#spirit2 {
	animation: flight1 40s linear infinite;
}

#spirit3 {
	animation: flight3 40s linear infinite;
}

#human {
	bottom: 13%;
}

#pillar {
	top: 3%;
}

#ground {
	bottom: 0%;
}

#river {
	width:100% !important;
	bottom: 0%;
	
	animation: scroll 80s linear infinite;
}

#river2 {
	width:100% !important;
	bottom: 0%;
	
	animation: reverse-scroll 80s linear infinite;
}

#pot1 {
	bottom: -40%;
	left: 30vh;
}

#pot2 {
	bottom: -12%;
	left: 34vh;
}

#pot3 {
	bottom: -2%;
	right: 20vh;
}

#pot4 {
	bottom: -15%;
	right: 8vh;
}

#pot5 {
	bottom: 8%;
	right: -10vh;
}

#pot6 {
	bottom: -40%;
	right: -8vh;
}