#interact > img {
	position: absolute;
}

/* 강물 */

@keyframes scroll{
  from {
    transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
  }
  to{
    transform:translateX(0%);
    -webkit-transform:translateX(0%);
  }
}

@keyframes reverse-scroll{
  from {
    transform:translateX(0%);
    -webkit-transform:translateX(0%);
  }
  to{
    transform:translateX(100%);
    -webkit-transform:translateX(100%);
  }
}

/* 강물에 흐르는 시신 */

@keyframes flow1{
  from {
    transform:translateX(-200%);
    -webkit-transform:translateX(-200%);
  }
  to{
    transform:translateX(0%);
    -webkit-transform:translateX(0%);
  }
}

@keyframes flow2{
  from {
    transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
  }
  to{
    transform:translateX(100%);
    -webkit-transform:translateX(100%);
  }
}

@keyframes flow3{
  from {
    transform:translateX(0%);
    -webkit-transform:translateX(0%);
  }
  to{
    transform:translateX(200%);
    -webkit-transform:translateX(200%);
  }
}

@keyframes flow4{
  from {
    transform:translateX(100%);
    -webkit-transform:translateX(100%);
  }
  to{
    transform:translateX(300%);
    -webkit-transform:translateX(300%);
  }
}

#human {
	bottom: 13%;
}

#pillar {
	top: 3%;
}

#ground {
	bottom: 0%;
}

#river {
	width:100% !important;
	bottom: 0%;
	
	animation: scroll 80s linear infinite;
}

#river2 {
	width:100% !important;
	bottom: 0%;
	
	animation: reverse-scroll 80s linear infinite;
}

#bodies1 {
	bottom: -2%;
	
	animation: flow1 80s linear infinite;
}

#bodies2 {
	bottom: -2%;
	
	animation: flow2 80s linear infinite;
}

#bodies3 {
	bottom: -2%;
	
	animation: flow3 80s linear infinite;
}

#bodies4 {
	bottom: -2%;
	
	animation: flow4 80s linear infinite;
}

#spirit1 {
	top: -10%;
	left: 3%;
}

#spirit2 {
	top: -5%;
	left: 18%;
}

#spirit3 {
	top: -10%;
	right: 10%;
}

#spirit_pot {
	top: 15%;
	left: 35%;
}

#pot {
	top: 4%;
	left: 25%;
}

#pot_keeper {
	top: 4%;
	left: 25%;
}

#pot_whole {
	top: 4%;
	left: 25%;
}

#pot_cow {
	bottom: 3.4%;
	left: 15%;
}

#pot_duck {
	bottom: 1.8%;
	left: 60%;
}

.fade-in {
  animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s; /* Safari and Chrome */
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein { 
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
  animation: fadeout 0.4s;
  -webkit-animation: fadeout 0.4s; /* Safari and Chrome */
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout { 
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}