body {
    font-family: 'Minguk-Regular';
	overflow: hidden;
  	overflow-y: hidden;
  	overflow-x: hidden; 
}

#background {
	width:100%;
	height:100%;
	background: no-repeat url("../../../background/ch05/5_0.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

@keyframes rotate_image{ 
	100% { 
	transform: rotate(360deg);
		 } 
	 }

.mandaras {
	opacity:0;
	z-index: 1;
	position: absolute;
	top: -11.6%;
	left: 17.6%;
	 animation: rotate_image 160s linear
     infinite;transform-origin: 50% 50%;
}
.m1 {
	z-index: 1;
	position: absolute;
  	top: 3%; right: 24.2%;
	opacity:1;
		 animation: rotate_image 160s linear
     infinite;transform-origin: 50% 50%;
} 
.m2 {
	position: absolute;
	top: 3%; right: 24.2%;
		 animation: rotate_image 160s linear
     infinite;transform-origin: 50% 50%;

}
.mandara1 {
	z-index: 1;
	opacity:1;
	width: 100px;
	position: absolute;
 	top: 42.7%;
	right: 46.2%;
		 animation: rotate_image 160s linear
     infinite;transform-origin: 50% 50%;

	
}
.mandara2 {
	z-index: 1;
	opacity:1;
	width:500px;
	position: absolute;
 	top: 24.5%; right: 36%;
 		 animation: rotate_image 160s linear
     infinite;transform-origin: 50% 50%;

}

.s1 {
	position: absolute;
	top: -11.6%;
	left: 17.6%;
		 animation: rotate_image 160s linear
     infinite;transform-origin: 50% 50%;

}

.keepers {
	z-index: 4;
	position: absolute;
	width: 2200px;
	top: 3%; left: 150%;
}

.boat {
	opacity:1;
    position: absolute;    
	z-index:2;
 	top: 50.5%; left: -25.5%;
 	transform: translate(70%,-50%);
}

.la {
	position: absolute;
	z-index:1;
	top: 10.6%; left: 41.5%;
	transform: scaleX(-1);	

 	
}
.saja {
	position: absolute;
	z-index:1;
	top: 12%; left: 23%;

 	
}







