body {
    font-family: 'Minguk-Regular';
	overflow: hidden;
  	overflow-y: hidden;
  	overflow-x: hidden; 
}

#background {
	width:100%;
	height:100%;
	background: no-repeat url("../../../background/ch05/5_0.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

@keyframes rotate_image{ 
	100% { 
	transform: rotate(360deg);
		 } 
	 }

.mandaras {
	opacity:0;
	z-index: 1;
	position: absolute;
	top: -11.6%;
	left: 17.6%;
}
.m1 {
	z-index: 1;
	position: absolute;
  	top: 3%; right: 24.2%;
	opacity:1;
} 
.m2 {
	position: absolute;
	top: 3%; right: 24.2%;

}
.mandara1 {
	z-index: 1;
	opacity:1;
	width: 100px;
	position: absolute;
 	top: 42.7%;
	right: 46.2%;

	
}
.mandara2 {
	z-index: 1;
	opacity:1;
	width:500px;
	position: absolute;
 	top: 24.5%; right: 36%;

}

.s1 {
	position: absolute;
	top: -11.6%;
	left: 17.6%;

}

.keepers {
	z-index: 4;
	position: absolute;
	width: 2000px;
	top: 3%; left: 150%;
}

.mainC_s {
	z-index: 4;
	opacity:1;
    position: absolute;
 	top: 50%; left: -28%;
 	transform: translate(70%,-50%);

 	
}
.saja {
	z-index:3;
	position: absolute;
	top: 50%; left: 30%;
	transform: translate(70%,-50%);

 	
}







