body {
    font-family: 'Minguk-Regular';
	overflow: hidden;
  	overflow-y: hidden;
  	overflow-x: hidden; 
}

#background {
	width:100%;
	height:100%;
	background: no-repeat url("../../../background/ch05/5_0.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

.bae {
	opacity:1;
	z-index:2;
    position: absolute;
 	top: 50%; left: -28%;
 	transform: translate(70%,-50%);

 	
}


.mainC {
	opacity:1;
	z-index:3;
    position: absolute;
 	top: 50%; left: -28%;
 	transform: translate(70%,-50%);

 	
}
.saja {
	position: absolute;
	z-index:2;
	top: 50%; left: 30%;
	transform: translate(70%,-50%);
}

@keyframes rotate_image{ 
	100% { 
	transform: rotate(360deg);
		 } 
	 }
@keyframes rotate_image_2{ 
	100% { 
	transform: rotate(-360deg);
		 } 
	 }	

		 
.m1 {
	z-index: 1;
	position: absolute;
  	top: 47.5%; right: 49.6%;
 	transform: translate(50%,-50%);
	opacity:1;
} 
.mandara1 {
	z-index: 1;
	opacity:1;
	width: 100px;
	position: absolute;
 	top: 42.7%;
	right: 46.2%;
    animation: rotate_image 5s ease;
    transform-origin: 50% 50%;
	
}
.mandara2 {
	z-index: 1;
	opacity:1;
	width: 500px;
	position: absolute;
 	top: 24.5%; right: 36%;
	 animation: rotate_image_2 5s ease;
     transform-origin: 50% 50%;
	
}
.guide2 {
	opacity:0;
	position: absolute;
	width: 50%;
	height: 7.5%;
	background: ivory;
	line-height: 275%;
	font-size: 1.5vw;
	top: 5%;
	left: 50%;
	
	transform: translate(-50%, 0%);
	
	z-index: 100;
}

.ant1 {
	opacity:1;
	z-index:5;
	position: absolute; 
	left: -15%;
	top: 50%;	
}
.ant2 {
	opacity:1;
	z-index:5;
    position: absolute;
 	top: 47%; 	
 	left: 25%;
}
.ant3 {
	opacity:1;
	z-index:5;
	position: absolute;
    top: 50%;
    left: 47%;	
}
.ant4 {
	opacity:1;
	z-index:5;
    position: absolute;
    transform: scaleX(-1); 
	top: 50%;
    left: 61%;
}



