body {
    font-family: 'Minguk-Regular';
	overflow: hidden;
  	overflow-y: hidden;
  	overflow-x: hidden; 
}
@keyframes rotate_image{ 
	100% { 
	transform: rotate(360deg);
		 } 
	 }
@keyframes rotate_image2{ 
	100% { 
	transform: rotate(360deg);
		 } 
	 }
.m1 {
	z-index: 1;
	position: absolute;
  	top: 3%; right: 24.2%;
 	animation: rotate_image 6s ease;
	
	opacity:1;
} 
.m2 {
	position: absolute;
	top: 3%; right: 24.2%;
}
.mandara1 {
	z-index: 1;
	opacity:1;
	width: 100px;
	position: absolute;
 	top: 42.7%;
	right: 46.2%;
    animation:rotate_image 6s ease ;
    
	
}
.mandara2 {
	z-index: 1;
	opacity:1;
	width:500px;
	position: absolute;
 	top: 24.5%; right: 36%;
	animation:rotate_image2 6s ease; transform-origin: 50% 50%;
     transform-origin: 50% 50%;
	
}
#background {
	width:100%;
	height:100%;
	background: no-repeat url("../../../background/ch05/5_0.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}



.mainC {
	opacity:1;
	z-index:2;
    position: absolute;
 	top: 50%; left: -28%;
 	transform: translate(70%,-50%);

 	
}
.saja {
	position: absolute;
	z-index:1;
	top: 50%; left: 30%;
	transform: translate(70%,-50%);
}

.guide3 {
	opacity:0;
	position: absolute;
	width: 50%;
	height: 7.5%;
	background: ivory;
	line-height: 275%;
	font-size: 1.5vw;
	top: 5%;
	left: 50%;
	
	transform: translate(-50%, 0%);
	
	z-index: 100;
}

.bug1 {
	z-index:3;
	opacity:1;
	width:550px;
	transform: scaleY(-1); 
	position: absolute; 
	left: 30;
	top: 60;	
}
.bug2 {
	z-index:3;
	opacity:1;
	width:550px;
    position: absolute;
    transform: scaleY(-1); 
 	top: 50%; 	
 	right: 30;
	top: 60;	
}
.bug3 {
	z-index:3;
	opacity:1;
	width:550px;
    position: absolute;
    bottom: 60;
    left: 30;	
}
.bug4 {
	z-index:3;
	opacity:1;
	width:550px;
    position: absolute;
	bottom: 60;
    right: 30;
}



