body {
    font-family: 'Minguk-Regular';
	overflow: hidden;
  	overflow-y: hidden;
  	overflow-x: hidden; 
}
@font-face {
    font-family: 'Minguk-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Minguk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Daehan-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Daehan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#background {
	width:100%;
	height:100%;
	background: no-repeat url("../../../background/ch05/5_0.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
@keyframes rotate_image{ 
	100% { 
	transform: rotate(360deg);
		 } 
	 }


.mandara1 {
	z-index: 1;
	opacity:0;
	position: absolute;
	width: 100px;
	top: 42.7%;
	right: 46.2%;
	 animation: rotate_image 15s linear
     infinite;transform-origin: 50% 50%;

}
.m1 {
	position: absolute;
	width: 500px;
  	top: 47.4%; right: 49.1%;
 	transform: translate(50%,-50%);
	opacity:1;
	
}


.spearno {
	z-index: 10;
	position: absolute;  
	top: 20%; left: 10%;  
}
.spearno2 {
	z-index: 10;
	position: absolute;  
	top: 15%; left: 60%;  
}
.spearno3 {
	z-index: 10;
	position: absolute;  
	top: 50%; left: 10%;  
}
.spearno4 {
	z-index: 10;
	position: absolute;  
	top: 50%; left: 60%;  
}
.chs {
	opacity:1;
	z-index:2;
    position: absolute;
  	top: 54.8%; right: 53.5%;
 	transform: translate(50%,-50%);
	
}

.boat {
	opacity:1;
    position: absolute;    
	z-index:2;
 	top: 50.5%; left: -25.5%;
 	transform: translate(70%,-50%);
}
.saja {
	position: absolute;
	z-index:1;
	top: 12%; left: 23%;
	
}
.la{
	position: absolute;
	z-index:1;
	top: 10.6%; left: 41.5%;
	transform: scaleX(-1);	
}
.mainC_k {
	opacity:0;
    position: absolute;
    width: 1200px;
	height: 500px;
 	top: 50%; left: -28%;
 	transform: translate(70%,-50%);

 	
}
.spear {
	z-index:3;
	opacity: 0;
	width: 55px;
	position: absolute;
	left: 53%;
	top: 23%; 
}

.crocs1 {
	opacity:0;
	position: absolute; 
	left: 0;
	top: 0;
}
.crocs2 {
	opacity:0;
    position: absolute;
 	top: 50%; 	
 	right: 0;
	top: 0;

}
.crocs3 {
	opacity:0;
	z-index:5;
    position: absolute;
    bottom: 0;
    left: 0;

}
.crocs4 {
	opacity:0;
    position: absolute;
	bottom: 0;
    right: 0;
}



/** test **/
.crocsi1 {
	opacity:1;
	width: 920px;
	transform: scaleY(-1); 
	position: absolute; 
	left: 0;
	top: 0;	
}
.crocsi2 {
	opacity:1;
	width: 920px;
    position: absolute;
    transform: scaleY(-1); 
 	top: 50%; 	
 	right: 0;
	top: 0;	
}
.crocsi3 {
	opacity:1;
	width: 920px;
	z-index:5;
    position: absolute;
    bottom: 0;
    left: 0;	
}
.crocsi4 {
	opacity:3;
	width: 920px;
    position: absolute;
	bottom: 0;
    right: 0;
}
#order {
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	font-family: 'Minguk-Bold';
	font-size: 24px;
	color: black;
	min-width: 776px;
	top: 50px;
	left: 572px;
	height: 88px;
	background: no-repeat url("../../../UI/order.png") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.guide2 {
	opacity:0;
	position: absolute;
	width: 50%;
	height: 7.5%;
	background: ivory;
	line-height: 275%;
	font-size: 1.5vw;
	top: 5%;
	left: 50%;
	
	transform: translate(-50%, 0%);
	
	z-index: 100;
}