@font-face {
    font-family: 'Minguk-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Minguk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Minguk-Regular';
	overflow: hidden;
  	overflow-y: hidden;
  	overflow-x: hidden;
}

#background {
	width:100%;
	height:100%;
	background: no-repeat url("../../../background/ch05/5_30.png") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
	display: flex;
	justify-content: flex-end;
}

#menu {
	display: inline-flex;
	height: 70px;
}
#menu img {
	width: 50px;
	height: 50px;
	margin: 10px;
}

.lab {
	 position: absolute;
     z-index: 1;
 	 top: 60%; right: 30%;
 	 transform: translate(70%,-50%);
}

#dialogue {
	width:100%;
	background: no-repeat url("../UI/Dialogue/BG.png") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
	display: flex;
	align-content: center;
}
#scene {
	display: inline-flex;
	flex-direction: column;
	width:100%;
}
#choice {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#choice > div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#choice button {
	height: 30px;
	margin: 5px 25px 5px 0;
}

#title, #content {
	display: inline-flex;
	flex-direction: row;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 10px;
}
#title > div {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
#title > div:nth-child(2) {
	color: white;
	min-width: 200px;
	height: 30px;
	background: no-repeat url("../UI/Dialogue/Title.png") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
	margin-left: 25px;
}