#human {
	position: absolute;
	cursor: pointer;
	z-index: 3;
}

#servant {
	position: absolute;
	z-index: 1;
}

.organ {
	position: absolute;
	z-index: 2;
	transform: rotate(90deg);
}

.organ:hover {
	transform: rotate(0);
}

#knife {
	transform: rotate(-45deg);
}
#knifeToClick, #knife {
	position: absolute;
	z-index: 5;
}

hr{
	position: absolute;
    border-top: 5px dotted red;
    height: 2px;
    z-index: 4;
}

.circle {
	cursor: pointer;
	position: absolute;
	width: 50px;
	height: 50px;
	border: solid yellow;
	opacity: 0;
	border-radius: 50%;
	background-color: #ee6c4d;
	z-index: 2;
}

.dest {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	border: 3px dashed red;
	border-radius: 50%;
	z-index: 4;
	opacity: 1;
}

.blinking{ 
	-webkit-animation:blink 0.8s ease-in-out infinite alternate; 
	-moz-animation:blink 0.8s ease-in-out infinite alternate; 
	animation:blink 0.8s ease-in-out infinite alternate; 
} 

@-webkit-keyframes blink{ 
	0% {opacity:0;} 
	100% {opacity:1;} 
} 

@-moz-keyframes blink{
	0% {opacity:0;} 
	100% {opacity:1;} 
} 

@keyframes blink{
	0% {opacity:0;} 
	100% {opacity:1;} 
}