.charmDiv {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#human, #scroll {
	position: absolute;
	cursor: pointer;
	z-index: 0;
}

.charm {
	cursor: move;
	position: absolute;
	z-index: 5;
}

.charm:hover {
	transform: scale(0.5);
  	transform-origin: center center;
  	transition: transform 1s;
}

.dest {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	border: 3px dashed red;
	border-radius: 50%;
	z-index: 4;
}

.fade-out {
  transform: rotateZ(-45deg) scale(0.2, 0.2);
  transform-origin: bottom left;
  transition: transform 1s;
	
  animation: fadeout 0.7s;
  -moz-animation: fadeout 0.7s; /* Firefox */
  -webkit-animation: fadeout 0.7s; /* Safari and Chrome */
  -o-animation: fadeout 0.7s; /* Opera */
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}