.head {
	position: absolute;
	cursor: pointer;
	z-index: 3;
}

.pot {
	position: absolute;
	cursor: pointer;
	z-index: 1;
}

.head-hover {
	transform: rotateZ(-80deg);
	transform-origin: bottom left;
	transition: transform 1s;
}

.head-leave {
	transform: rotateZ(0deg);
	transform-origin: bottom left;
	transition: transform 1s;
}

.organ_div {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#human {
	position: absolute;
	cursor: pointer;
	z-index: 0;
}

#servant {
	position: absolute;
	z-index: 1;
}

#organ1 {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg);
}

.organ {
	cursor: move;
	position: absolute;
	z-index: 1;
}

.organ:hover {
	transform: scale(1.1);
  	transform-origin: center center;
  	transition: transform 0.1s;
}

.fade-out {
  transform: rotateZ(-45deg) scale(0.2, 0.2);
  transform-origin: bottom left;
  transition: transform 1s;
	
  animation: fadeout 0.7s;
  -moz-animation: fadeout 0.7s; /* Firefox */
  -webkit-animation: fadeout 0.7s; /* Safari and Chrome */
  -o-animation: fadeout 0.7s; /* Opera */
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}