#human {
	position: absolute;
	width: 400px;
	height: 1300px;
	left: 500;
	z-index: 1;
}

.peseshkaf {
	cursor: pointer;
	position: absolute;
	top: 400;
	left: 400;
	width: 300px;
	height: 80px;
	transform: translate(-120%, -120%);
	z-index: 2;
}

.circle {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ffffff;
	opacity: 0.5;
	z-index: 3;
}

.fade-out-circle {
  animation: fadeout 3s;
  -moz-animation: fadeout 3s; /* Firefox */
  -webkit-animation: fadeout 3s; /* Safari and Chrome */
  -o-animation: fadeout 3s; /* Opera */
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0;
    }
}