canvas {
	position:absolute;
	width: 115;
	height: 50;
	cursor: url('/resources/object/ch03/n_cursor.png'), pointer;
	z-index: 999;
}

.clickable {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

#potToClick, #bandageToClick, #niddleToClick {
	position: absolute;
	cursor: pointer;
	z-index: 3;
	display: none;
}

#pot {
	position: absolute;
	cursor: pointer;
	top: 300;
	left: 300;
	transform: rotate(135deg);
	z-index: 99;
}

#scroll, #paper, #servant {
	position: absolute;
	z-index: 1;
}

#soda_pot {
	position: absolute;
	z-index: 1;	
	transform: rotate(180deg);
}

#bandage, #niddle {
	position: absolute;
	z-index: 99;
	top: 300;
	display: none;
}

#bed {
	position: absolute;
	z-index: 0;
}

#human_cover {
	position: absolute;
	z-index: 10;
}

#human {
	position: absolute;
	z-index: 4;
}

#human_soda {
	position: absolute;
	z-index: 2;
}

#human_band {
	position: absolute;
	z-index: 3;
}

#organ1 {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg);
}

.blinking{ 
	-webkit-animation:blink 0.8s ease-in-out infinite alternate; 
	-moz-animation:blink 0.8s ease-in-out infinite alternate; 
	animation:blink 0.8s ease-in-out infinite alternate; 
} 

@-webkit-keyframes blink{ 
	0% {opacity:0;} 
	100% {opacity:1;} 
} 

@-moz-keyframes blink{
	0% {opacity:0;} 
	100% {opacity:1;} 
} 

@keyframes blink{
	0% {opacity:0;} 
	100% {opacity:1;} 
}

.fadeLeft {
    opacity: 0;
    overflow: hidden;
    width: 0%;
    -webkit-transition: width 2s ease-in, opacity 2s ease-out;
    -moz-transition: width 2s ease-in, opacity 2s ease-out;
    -o-transition: width 2s ease-in, opacity 2s ease-out;
    transition: width 2s ease-in, opacity 2s ease-out;
}
.fadeActive {
  opacity: 1;
  width: 100%;
}