@charset "UTF-8";

.info_back {
	display: none;
	position: absolute;
	width: 100vw; height: 100vh;
	top: 0; left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}
#window {
	display: none;
	position: absolute;

	background: white;
	width: 70vh;
	height: 35%;
	
	left: 50%;
	top: 50%;
	
	transform: translate(-50%, -85%);
	z-index: 1000;
}

#window .infoImg {
	position: absolute;
	width: 18vh;
	height: 18vh;
	
	background-position: center center;
	background-attachment: scale-down;
	
	left: 5%;
	top: 50%;
	
	transform: translate(0%, -50%);
	
	border: 5px solid yellow;
}
#window .infoText {
	position: absolute;
	
	width: 55%;
	
	left: 40%;
	top: 50%;
	
	transform: translate(0%, -50%);
	
	border: 1px soild blue;
}
#window .infoText .name{
	font-size: 3vh;
	text-align: left;
}
#window .infoText .content{
	margin-top: 10%;
	
	font-size: 2vh;
	text-align: left;
}

#window .close {
	position: absolute;
	font-size: 1.5vw;
	
	right: 2.5%;
	top: 5%;
	
	width: 4%;
	height: 10%;
	
	text-align: center;
	
	background: grey;
}