@font-face {
    font-family: 'Minguk-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Minguk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minguk-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Minguk-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Daehan-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Daehan-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#setting {
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	font-family: 'Minguk-Regular';
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9000;
}
#setting img {
	margin-left: 10px;
	margin-right: 10px;
}

#setting_container {
	align-items: flex-end;
	flex-direction: column;
	background: no-repeat url("/resources/UI/Menu/bg_setting.png");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#setting_container > div {
	font-family: 'Minguk-Bold';
	font-size: 32pt;
	color: #554740;
}
.audioSlider {
	width: 30px;
	height: 300px;
	border: 1px solid #554740;
	background: #D2BDB3;
}
.audioSlider div {
	background: #998984;
}
.audioSlider span {
	display: none;
}
.up {
	position: absolute;
	top: 6.5px;
	margin-left: 7px !important;
	z-index: 1000;
}
.down {
	position: absolute;
	bottom: 13px;
	margin-left: 7px !important;
	z-index: 1000;
}
.audioSetting {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 25%;
}
.audioSetting > div {
	font-family: 'Minguk-Regular';
	font-size: 24px;
	display: flex;
	color: #554740;
}
#setting_title {
	display: flex;
	align-content: center;
	color: #554740;
	margin: 30px;
}
#setting_title img {
	width: 37px;
	height: 39px;
	align-self: center;
}
#setting_container > div:nth-child(2) {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: center;
}
#setting input {
	font-family: 'Minguk-Bold';
	font-size: 21px;
	color: #4F1B00;
	background: transparent;
	border: 2px solid #4F1B00;
	border-radius: 10px;
	cursor: pointer;
	width: 200px;
	height: 75px;
}
#setting input:hover {
	background: #4F1B00;
	color: white;
}
#setting_close {
	position: absolute;
}