#kettle {
	position: absolute;
	transform:rotate(40deg);
	cursor: pointer;
	top: 700;
	left: 800;
	width: 78px;
	height: 101px;
	z-index: 3;
}

hr{
	position: absolute;
	top: 750; 
	left: 830;
    border: none;
    border-top: 5px dotted red;
    height: 1px;
    width: 1000;
}

.soda{
	position: absolute;
	top: 800;
	left: 1000;
	width: 827px;
	height: 177px;
	opacity: 1;
	z-index: 2;
}

.human {
	position: absolute;
	top: 800;
	left: 1000;
	width: 827px;
	height: 177px;
	z-index: 1;
}

.circle {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: #ee6c4d;
	opacity: 0.4;
	z-index: 3;
}

.fade-out-soda {
  animation: fadeout 2s;
  -moz-animation: fadeout 2s; /* Firefox */
  -webkit-animation: fadeout 2s; /* Safari and Chrome */
  -o-animation: fadeout 2s; /* Opera */
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

.blinking{ 
	-webkit-animation:blink 0.8s ease-in-out infinite alternate; 
	-moz-animation:blink 0.8s ease-in-out infinite alternate; 
	animation:blink 0.8s ease-in-out infinite alternate; 
} 

@-webkit-keyframes blink{ 
	0% {opacity:0;} 
	100% {opacity:1;} 
} 

@-moz-keyframes blink{
	0% {opacity:0;} 
	100% {opacity:1;} 
} 

@keyframes blink{
	0% {opacity:0;} 
	100% {opacity:1;} 
}