#shabti {
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	font-family: 'Daehan-Bold';
	font-size: 30pt;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9000;
}
#shabti_title {
	align-items: center;
	margin: 50px;
	padding-top: 25px;
}
#shabti_title img {
	margin-left: 10px;
	margin-right: 20px;
	width: 38px;
	height: 38px;
}

#shabti_container {
	align-items: flex-end;
	flex-direction: column;
	background: no-repeat url("/resources/UI/Menu/bg_help.png");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#shabti_container > div {
	display: flex;
	height: 100%;
}
#shabti_container > div > div, #shabti_title {
	font-family: 'Minguk-Bold';
	font-size: 30pt;
	display: flex;
	align-content: center;
	color: #554740;
	margin: 25px;
}
#shabti_nav {
	display: flex;
	flex-direction: column;
}
#shabti input {
	font-family: 'Minguk-Bold';
	font-size: 18pt;
	color: #A8A19E;
	background: transparent;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 233px;
	height: 64px;
	text-align: left;
	margin: 5px; /*¼öÁ¤µÊ*/
	margin-left: 25px; /*¼öÁ¤µÊ*/
	padding: 15px;
	padding-left: 25px;
	padding-top: 14px;
}
#shabti_content {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;	
}
.shabti_arrow {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin: 50px;
}
.shabti_hover {
	color: #4F1B00 !important;
	background: url("/resources/UI/Help/11.png") !important;
}
#shabti_close {
	position: absolute;
}

#content_locked {
	color: #A8A19E;
}

#content_locked > img {
	padding-left: 45%;
}

.locked {
	margin-left: -22%;
	margin-bottom: -0.7%;
}