#kettleToClick {
	position: absolute;
	cursor: pointer;
	z-index: 3;
	display: none;
}

#kettle {
	position: absolute;
	cursor: pointer;
	transform: rotate(45deg);
	z-index: 3;
}

#scroll, #paper {
	position: absolute;
	z-index: 1;
}

#servant {
	position: absolute;
	z-index: 1;	
}

#linen, #water, #shine {
	position: absolute;
	z-index: 3;
	display: none;
}

#bed {
	position: absolute;
	z-index: 1;
}

#human {
	position: absolute;
	left: 320;
	z-index: 2;
}	

.dirt{
	position: absolute;
	opacity: 1;
	z-index: 3;
}	

#dragLine, #arrowLine{
	position: absolute;
    z-index: 999;
}

.circle {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: 3px dashed #FFBB25;
	z-index: 3;
}

.fade-out {
  animation: fadeout 1s;
  -moz-animation: fadeout 1s; /* Firefox */
  -webkit-animation: fadeout 1s; /* Safari and Chrome */
  -o-animation: fadeout 1s; /* Opera */
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.blinking{ 
	-webkit-animation:blink 0.8s ease-in-out infinite alternate; 
	-moz-animation:blink 0.8s ease-in-out infinite alternate; 
	animation:blink 0.8s ease-in-out infinite alternate; 
} 

@-webkit-keyframes blink{ 
	0% {opacity:0;} 
	100% {opacity:1;} 
} 

@-moz-keyframes blink{
	0% {opacity:0;} 
	100% {opacity:1;} 
} 

@keyframes blink{
	0% {opacity:0;} 
	100% {opacity:1;} 
}