@-webkit-keyframes move-semi-low {
    from {
        top: 450;
    }
    to {
        top: 430;
    }
}

@-webkit-keyframes move-floor {
    from {
        top: 660;
    }
    to {
        top: 640;
    }
}

.island-move:nth-child(1) {
	animation: move-high 3s infinite alternate;
	-webkit-animation: move-high 3s infinite alternate; 
	animation-fill-mode: forwards;
}
.island-move:nth-child(3) {
	animation: move-semi-low 3s infinite alternate; 
	-webkit-animation: move-semi-low 3s infinite alternate; 
	animation-fill-mode: forwards;
}
.island-move:nth-child(4) {
	animation: move-bottom 3s infinite alternate; 
	-webkit-animation: move-bottom 3s infinite alternate; 
	animation-fill-mode: forwards;
}

.island-move:nth-child(10) {
	animation: move-semi-low 3s infinite alternate; 
	-webkit-animation: move-semi-low 3s infinite alternate; 
	animation-fill-mode: forwards;
}
.island-move:nth-child(11) {
	animation: move-bottom 3s infinite alternate; 
	-webkit-animation: move-bottom 3s infinite alternate; 
	animation-fill-mode: forwards;
}
.island-move:nth-child(12) {
	animation: move-floor 3s infinite alternate; 
	-webkit-animation: move-floor 3s infinite alternate; 
	animation-fill-mode: forwards;
}