@charset "UTF-8";

#interact {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
#interact img {
	position: absolute;
}

/* 배경 */
#interact .background {
	width: 100%;
	z-index: 1;
}
#interact .background:nth-of-type(1) {
	height: 72.03%;
}
#interact .background:nth-of-type(2) {
	top: 71.95%;
	height: 28.05%;
}

/* 배경 오트젝트 */
#interact .bg {
	height: 100vh;
	width: 100vw;
}
#interact .bg .bgObj {
	z-index: 2;
}
#interact .bg .bgobj:nth-of-type(1) {
	height: 06.29%;
	bottom: 28%;
	left: 8.5%;
}
#interact .bg .bgobj:nth-of-type(2) {
	height: 07.22%;
	bottom: 28%;
	left: 27%;
}
#interact .bg .bgobj:nth-of-type(3) {
	height: 05.74%;
	bottom: 28%;
	right: 10%;
}
#interact .bg .bgobj:nth-of-type(4) {
	height: 12.5%;
	width: 53.38%;
	top: 9.5%;
	left: 38%;
}
#interact .bg .bgobj:nth-of-type(5) {
	height: 37.40%;
	bottom: 27.5%;
	left: 30vh;
}
#interact .bg .bgobj:nth-of-type(6) {
	bottom: 34%;
	left: 71.7vh;
	z-index: 4;
}

/* 캐릭터들 */
#interact .character {
	bottom: 27.5%;
	z-index: 3;
}
#interact .character:nth-of-type(3) {
	height: 39.90%;
	left: 8%;
}
#interact .character:nth-of-type(4) {
	height: 46.48%;
	right: 42%;
}
#interact .character:nth-of-type(5) {
	height: 48.51%;
	right: 28.5%;
}
#interact .character:nth-of-type(6) {
	height: 40%;
	right: 17%;
}
#interact .character:nth-of-type(7) {
	height: 23.98%;
	right: 1%;
}