@charset "UTF-8";

#interact {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
#interact img {
	position: absolute;
}

/* 배경 */
#interact .background {
	width: 100%;
	height: 100%;
	z-index: 1;
}
#interact .background:nth-of-type(2) {
	top: 71.95%;
	height: 28.05%;
}

/* 배경 오트젝트 */
#interact .bg .bgObj {
	z-index: 2;
	bottom: 28.05%;
}
#interact .bg .bgobj:nth-of-type(1) {
	height: 06.29%;
	bottom: 28%;
	left: 7%;
}
#interact .bg .bgobj:nth-of-type(2) {
	height: 07.22%;
	bottom: 28%;
	left: 39%;
}
#interact .bg .bgobj:nth-of-type(3) {
	height: 05.74%;
	bottom: 28%;
	left: 46%;
}
#interact .bgobj:nth-of-type(4) {
	height: 24.62%;
	left: 50%; transform: translate(-6vh, 0);
	z-index: 1;
}
#interact .bgobj:nth-of-type(5) {
	height: 61.75%;
	right: 15vh;
}
#interact .bgobj:nth-of-type(6) {
	height: 20.92vh;
	right: 33.5vh;
	bottom: 31%;
}
#interact .bgobj:nth-of-type(7) {
	height: 11.20%;
	right: 56.5vh;
	bottom: 50.5%;
}
/* 캐릭터 */
#interact .character {
	bottom: 27.5%;
	z-index: 3;
}
#interact .character:nth-of-type(3) {
	height: 44.90%;
	left: 10%;
}
#interact .character:nth-of-type(4) {
	height: 53.51%;
	left: 20%;
}
#interact .character:nth-of-type(5) {
	height: 40.64%;
	right: 32vh;
	bottom: 35.2%;
}
#interact .character:nth-of-type(6) {
	height: 49.35%;
	right: 18vh;
}
#interact .character:nth-of-type(7) {
	height: 49.16%;
	right: 10vh;
}

#arc {
	display: none;
	z-index: 3;
	height: 13.33%;
	top: 34%;
	left: 17%;
	animation: fall 4s;
}

@keyframes walk {
	0% { transform: translate(-100%, 0%);}
	100% { transform: translate(0, 0); }
}
@keyframes fall {
	0% { top: -10%; }
	100% { top: 34%; }
}