@charset "UTF-8";

#interact {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
#interact img {
	position: absolute;
}

/* 배경 */
#interact .background {
	width: 100%;
	height: 100%;
	z-index: 1;
}
#interact .background:nth-of-type(2) {
	top: 71.95%;
	height: 28.05%;
}

/* 배경 오트젝트 */
#interact .bgObj {
	z-index: 2;
}
#interact .bgobj:nth-of-type(3) {
	height: 07.22%;
	width: 81.35%;
	bottom: 28%;
	left: 8.5%;
}
#interact .bgobj:nth-of-type(4) {
	height: 12%;
	width: 53.38%;
	top: 10%;
	left: 38%;
}
#interact .bgobj:nth-of-type(5) {
	height: 36.66%;
	bottom: 28%;
	left: 20%;
}

/* 캐릭터들 */
#interact .character {
	bottom: 27.5%;
	z-index: 3;
}
#interact .character:nth-of-type(6) {
	height: 39.90%;
	left: 8%;
}
#interact .character:nth-of-type(7) {
	height: 43.70%;
	right: 42%;
}
#interact .character:nth-of-type(8) {
	height: 48.51%;
	right: 29%;
}
#interact .character:nth-of-type(9) {
	height: 39.81%;
	right: 18%;
}
#interact .character:nth-of-type(10) {
	height: 22.12%;
	right: 1%;
}

#interact .guide {
	position: absolute;
	width: 50%;
	height: 7.5%;
	background: ivory;
	line-height: 275%;
	font-size: 1.5vw;
	top: 5%;
	left: 50%;
	
	transform: translate(-50%, 0%);
	
	z-index: 100;
}